.main_shop{
width:1225px; margin:0 auto; 
	}
#main_name{ 
height:64px;
background:url(../img2/lxqbj.jpg) }

#main_name2{ 
height:64px;
background:url(../img2/sp.jpg) }
.stress{font-size:60px;color:#C0DCC0;}

#main_head_box{
	margin-left:61px;
	width:1225px;
border-bottom:1px solid red;
}

.sale_box{
	margin-top:17px;
	height:860px;
	
	background-color: #A0A0A4;
}




.mouse_1{
	
height:450px;



}
.main_youku1{
	width:440px;
	height:580px;
	margin-left:580px;
	margin-top:4px;
	
}
.main_youku2{





}
	.baiduyun_1{
		margin-left:800px;
	margin-top:-700px;
	}


.lyb_1{
	margin-top:50px;
	margin-left:550px;
}





.buttom_zs{
	height:35px;
	background-color:#000;
	
	border-top:1px solid red;}
	.zs_nr{
		font-size:12px;
	color:#A0A0A4;

	}













.sale_box_store1:hover{

border: 2px solid #FF0;
}
	

.buttom_zs{
	height:50px;
	border-top:1px solid #ff4400;
	}